* {
    /*убираєм відступи*/
    margin: 0;
    padding: 0;
}

body {
    background-image: url(../photos/fon.jpg);
    /*Фонове зображення*/
    background-repeat: no-repeat;
    /*повторювання зображення: не повторювати*/
    background-attachment: fixed;
    /*позиція фіксована*/
    background-size: 100%;
    /*розмір фона 100%*/
    background-color: white;
    /*фоновий колір*/
    margin-left: 15%;
    /*відступ з ліва*/
}

header {
    /* Меню */
    width: 1200px;
    /*ширина*/
    min-height: 7%;
    /*мінімальна висота*/
    background-color: white;
    /* колір фону*/
    opacity: .9;
    /*прозорість*/
    position: fixed;
    /*фіксована позиція*/
    top: 0;
    /*відступ з верху*/
    z-index: 1;
    /*індекс 1 щоб меню було завжди зверху*/
}

article {
    /*Шапка сайта з зображенням*/
    width: 1200px;
    /*ширина*/
    background-color: white;
    /*фоновий колір*/
    opacity: .9;
    /*Прозорість*/
    float: left;
    /*розташування з ліва*/
    overflow: hidden;
    /*відображення блову тільки всередині елемента, інше буде скрито*/
    margin-top: 4.3%;
    /*відступ з верху*/


}

footer {
    /*підвал сайту*/
    width: 1200px;
    /*ширина*/
    background-color: white;
    /*фоновий колір білий*/
    opacity: .9;
    /*прозорість*/
    clear: both;
    /*скасовуємо обтікання одночасно з лівого і правого краю*/
    text-align: center;
    /*розташування тексту по центру*/
    margin-bottom: 1%;
    /*відступ від нижнього краю*/
}

ul {
    /*списки*/
    padding-left: 40px;
    /*відступ з ліва*/
    margin-top: 1em;
    /*відступ від верхнього краю*/
    margin-bottom: 1em;
    /*відступ від нижнього краю*/
    font-size: 20px;
    /*розмір шрифту*/
    font-style: italic;
    /*стиль шрифту*/

}

li {
    /*елементи списку*/
    margin-top: 0.2em;
    /*відступ з верху*/
    font-style: italic;
    /*стиль шрифту*/
}

h1 {
    /*Заголовок 1*/
    font-size: 35px;
    /*розмір шрифту*/
    margin-left: 1.5%;
    /*відступ від лівого краю*/
    margin-right: 1.5%;
    /*відступ від правого краю*/
    font-style: italic;
    /*стиль шрифту*/
}

h2 {
    /*заголовок 2*/
    font-size: 30px;
    /*розмір шрифту*/
    margin-left: 1.5%;
    /*відступ від лівого краю*/
    margin-right: 1.5%;
    /*відступ від правого краю*/
    font-style: italic;
    /*стиль шрифту*/
}

p {
    /*текст*/
    font-size: 25px;
    /*розмір шрифту*/
    margin-top: 1%;
    /*відступ від верхнього краю*/
    margin-left: 1.5%;
    /*відступ від лівого краю*/
    margin-right: 1.5%;
    /*відступ від правого краю*/
    font-style: italic;
    /*стиль шрифту*/
}
