* {
    /*убираєм відступи*/
    margin: 0;
    padding: 0;
}

body {
    background-image: url(../photos/fon.jpg);
    /*Фонове зображення*/
    background-repeat: no-repeat;
    /*повторювання зображення: не повторювати*/
    background-attachment: fixed;
    /*позиція фіксована*/
    background-size: 100%;
    /*розмір фона 100%*/
    background-color: white;
    /*фоновий колір*/
    margin-left: 15%
        /*відступ зліва*/
}

header {
    /* Меню */
    width: 1200px;
    /*ширина*/
    min-height: 50px;
    /*мінімальна висота*/
    background-color: white;
    /* колір фону*/
    opacity: .9;
    /*прозорість*/
    position: fixed;
    /*фіксована позиція*/
    top: 0;
    /*відступ з верху*/
    z-index: 1;
    /*індекс 1 щоб меню було завжди зверху*/
}

article {
    /*Шапка сайта з зображенням*/
    width: 1200px;
    /*ширина*/
    background-color: white;
    /*фоновий колір*/
    float: left;
    /*розташування з ліва*/
    overflow: hidden;
    /*відображення блову тільки всередині елемента, інше буде скрито*/
    margin-top: 37px;
    /*відступ з верху*/


}

div {
    margin-left: 1.5%;
    /*відступ від лівого краю*/
    margin-top: 1em;
    /*відступ від верхнього краю*/
    margin-right: 1.5%;
    /*відступ від правого краю*/
}

section {}

#video {
    /*id для section відео*/
    float: left;
    /*розташування ліворуч*/
    width: 590px;
    /*ширина*/
    height: 330px;
    /*висота*/
    border-bottom: 1px solid black;
    /*рамка знизу*/
    margin-top: 5px;
    /*відступ зверху*/
}

#nazva {
    float: left;
    /*розташування ліворуч*/
    width: 550px;
    /*ширина*/
    height: 330px;
    /*висота*/
    border-bottom: 1px solid black;
    /*рамка знизу*/
    margin-top: 5px;
    /*відступ зверху*/
}

#videoost {
    /*id для section відео*/
    float: left;
    /*розташування ліворуч*/
    width: 590px;
    /*ширина*/
    height: 330px;
    /*висота*/
    border-bottom: 2px solid black;
    /*рамка знизу*/
    border-left: 2px solid black;
    /*рамка зліва*/
    border-top: 2px solid black;
    /*рамка зверху*/
    margin-top: 5px;
    /*відступ зверху*/

}

#nazvaost {
    float: left;
    /*розташування ліворуч*/
    width: 550px;
    /*ширина*/
    height: 330px;
    /*висота*/
    border-bottom: 2px solid black;
    /*рамка знизу*/
    border-right: 2px solid black;
    /*рамка зправа*/
    border-top: 2px solid black;
    /*рамка зверху*/
    margin-top: 5px;
    /*відступ зверху*/
}


#images1 {
    /*id для section фото на головний сторінці*/
    float: left;
    /*розташування ліворуч*/
    width: 590px;
    /*ширина*/
    height: 330px;
    /*висота*/
    border-bottom: 1px solid black;
    /*рамка знизу*/
    margin-top: 5px;
    /*відступ зверху*/
}

#images2 {
    /*id для section фото на головний сторінці*/
    float: left;
    /*розташування ліворуч*/
    width: 550px;
    /*ширина*/
    height: 330px;
    /*висота*/
    border-bottom: 1px solid black;
    /*рамка знизу*/
    margin-top: 5px;
    /*відступ зверху*/
}

#textmain1 {
    float: left;
    /*розташування ліворуч*/
    width: 550px;
    /*ширина*/
    height: 330px;
    /*висота*/
    border-bottom: 1px solid black;
    /*рамка знизу*/
    margin-top: 5px;
    /*відступ зверху*/
}

#textmain2 {
    float: left;
    /*розташування ліворуч*/
    width: 590px;
    /*ширина*/
    height: 330px;
    /*висота*/
    border-bottom: 1px solid black;
    /*рамка знизу*/
    margin-top: 5px;
    /*відступ зверху*/
}

#textmainvstup {
    float: left;
    /*розташування ліворуч*/
    width: 590px;
    /*ширина*/
    height: 550px;
    /*висота*/
    border-bottom: 1px solid black;
    /*рамка знизу*/
    margin-top: 5px;
    /*відступ зверху*/
}

#imagesvstu {
    /*id для section фото на головний сторінці*/
    float: left;
    /*розташування ліворуч*/
    width: 550px;
    /*ширина*/
    height: 550px;
    /*висота*/
    border-bottom: 1px solid black;
    /*рамка знизу*/
    margin-top: 5px;
    /*відступ зверху*/
}

footer {
    /*підвал сайту*/
    width: 1200px;
    /*ширина*/
    background-color: white;
    /*фоновий колір білий*/
    text-align: left;
    /*розташування тексту зліва*/
    margin-bottom: 1%;
    /*відступ від нижнього краю*/


}

#footer1 {
    /*підвал сайту секція 1*/
    width: 400px;
    /*ширина*/
    background-color: white;
    /*фоновий колір білий*/
    float: left;
    /*розташування ліворуч*/
    margin-bottom: 1%;
    /*відступ від нижнього краю*/

}

#footer2 {
    /*підвал сайту секція 2*/
    width: 400px;
    /*ширина*/
    height: 200px;
    background-color: white;
    /*фоновий колір білий*/
    float: left;
    /*розташування ліворуч*/
    margin-bottom: 1%;
    /*відступ від нижнього краю*/

}

#znak {
    /*значки соц.мереж у footer*/
    width: 64px;
    /*ширина*/
    float: left;
    /*розташування ліворуч*/
}

#displayed {
    /*розташування значків соц.мереж по центру*/
    display: block;
    margin-left: auto;
    margin-right: auto;
}

ul {
    /*списки*/
    padding-left: 40px;
    /*відступ з ліва*/
    margin-top: 1em;
    /*відступ від верхнього краю*/
    margin-bottom: 1em;
    /*відступ від нижнього краю*/
    font-size: 20px;
    /*розмір шрифту*/
    font-style: italic;
    /*стиль шрифту*/

}

li {
    /*елементи списку*/
    margin-top: 0.2em;
    /*відступ з верху*/
    font-style: italic;
    /*стиль шрифту*/
}

h1 {
    /*Заголовок 1*/
    font-size: 35px;
    /*розмір шрифту*/
    margin-left: 1.5%;
    /*відступ від лівого краю*/
    margin-right: 1.5%;
    /*відступ від правого краю*/
    font-style: italic;
    /*стиль шрифту*/
}

h2 {
    /*заголовок 2*/
    font-size: 25px;
    /*розмір шрифту*/
    margin-left: 1.5%;
    /*відступ від лівого краю*/
    margin-right: 1.5%;
    /*відступ від правого краю*/
    font-style: italic;
    /*стиль шрифту*/
}

h3 {
    /*текст*/
    font-size: 20px;
    /*розмір шрифту*/
    margin-top: 1%;
    /*відступ від верхнього краю*/
    margin-left: 1.5%;
    /*відступ від лівого краю*/
    margin-right: 1.5%;
    /*відступ від правого краю*/
    font-style: italic;
    /*стиль шрифту*/

}

p {
    /*текст*/
    font-size: 25px;
    /*розмір шрифту*/
    margin-top: 1%;
    /*відступ від верхнього краю*/
    margin-left: 1.5%;
    /*відступ від лівого краю*/
    margin-right: 1.5%;
    /*відступ від правого краю*/
    font-style: italic;
    /*стиль шрифту*/
}

#textfooter {
    /*текст в footer*/
    font-size: 20px;
    margin-left: 5.5%;
    /*відступ від лівого краю*/
    margin-top: 1.5%;
    /*відступ від верхнього краю*/


}

#textfootermer {
    /*текст в footer*/
    font-size: 15px;
    margin-left: 5.5%;
    /*відступ від лівого краю*/
    margin-top: 1.5%;
    /*відступ від верхнього краю*/
}

#textfootercentr {
    /*текст в footer заголовки*/
    font-size: 20px;
    margin-left: 5.5%;
    /*відступ від лівого краю*/
    margin-top: 1.5%;
    /*відступ від верхнього краю*/
    text-align: center;
    /*розташування тексту по центру*/

}

#text {
    /* id для "p" тексту*/
    font-size: 18px;
    /*розмір тексту*/
}

a {
    text-decoration: none;
    /* Отменяем подчеркивание у ссылки */
}
